* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1503401639559-b16332601594?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTcxMjcxNTEzOA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600");
    
}

.Caixa-maior {
    background: #000000;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 450px;
}
.input-city {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    background-color: #7c7c7c2d;
    color: #ffffff;
    width: calc(100% - 100px);
}
.botão-buscar {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2d;
    cursor: pointer;
    float: right;

}
.img-busca {
    width: 20px;
}
.Caixa-média {
    margin-top: 20px
}
.Cidade {
    color: #ffffff;
    font-size: 28px;
    font-weight: 300;
}
.temp {
    font-size: 20px;
    color: #ffffff;
    margin-top: 20px;
}
.Caixa-menor {
    
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.Texto-previsão {
    color: #ffffff;
    margin-left: 20px;

}
.Umidade {
    color: #ffffff;
    margin-top: 20px;
}

button:hover {
    background-color: #e8e8e866;

}